# PostgreSQL
DATABASE_URL="postgresql://user:password@localhost:5432/good_car_deals?schema=public"

# Scraper
SCRAPER_TARGET_URL="https://www.polovniautomobili.com/auto-oglasi/pretraga"
SCRAPER_BRAND="opel"
SCRAPER_MODEL="Astra J"

# Cron Schedule (weekly on Sunday at midnight)
SCRAPER_CRON_SCHEDULE="0 0 * * 0"
